@import "../ini/function";

/*
  .fs__txt__xxx
  .fs__txt__en__xxx
  .fw__xxx
*/

$font-pri:"Kosugi";//500,600
$font-sec:"Roboto";//700

@mixin ff{//font-family
  font-family:$font-pri,$font-sans;
  .ff{
    &__sans{
      font-family:$font-pri;
    }
    &__serif{
      font-family:$font-serif;
    }
    &__sub{
      font-family:$font-sec;
    }
  }
}

@mixin fw{//font-weight
  font-weight:normal;
  .fw__bold{
    font-weight:bold;
  }
  .fw__normal{
    font-weight:normal;
  }
}
@mixin fs{//font-size
  font-size:1.6rem;
  line-height:1.875;
  letter-spacing:0.04em;
  .fs__txt{
    &__60{
      font-size:6.0rem;
      line-height:1;
      letter-spacing:0.1em;
    }
    &__40{
      font-size:4.0rem;
      line-height:1.5;
      letter-spacing:0.1em;
    }
    &__26{
      font-size:2.6rem;
      line-height:1.3846153846153846;
      letter-spacing:0.1em;
    }
    &__18{
      font-size:1.8rem;
      line-height:1.6666666666666667;
      letter-spacing:0.04em;
    }
    &__16{
      font-size:1.6rem;
      line-height:1.875;
      letter-spacing:0.04em;
    }
    &__14{
      font-size:1.4rem;
      line-height:1.4285714285714286;
      letter-spacing:0.09em;
    }
    &__12{
      font-size:1.2rem;
      line-height:1.3333333333333333;;
      letter-spacing:0.09em;
    }
    @include sp{
      &__60{
        font-size:4.0rem;
        line-height:1.5;
        letter-spacing:0.1em;
      }
      &__40{
        font-size:2.0rem;
        line-height:1.5;
        letter-spacing:0.1em;
      }
      &__26{
        font-size:1.8rem;
        line-height:1.6666666666666667;
        letter-spacing:0.09em;
      }
      &__18{
        font-size:1.6rem;
        line-height:1.875;
        letter-spacing:0.04em;
      }
      &__16{
        font-size:1.5rem;
        line-height:1.8666666666666667;
        letter-spacing:0.04em;
      }
    }
  }
  .fs__txt__en{
    &__80{
      font-size:8.0rem;
      font-weight:700;
      line-height:1;
      letter-spacing:0.1em;
      font-family:$font-sec;
    }
    &__50{
      font-size:5.0rem;
      font-weight:700;
      line-height:1;
      letter-spacing:0.1em;
      font-family:$font-sec;
    }
    &__26{
      font-size:2.6rem;
      font-weight:700;
      line-height:1;
      letter-spacing:0.1em;
      font-family:$font-sec;
    }
    &__20{
      font-size:2.0rem;
      font-weight:700;
      line-height:1;
      letter-spacing:0.1em;
      font-family:$font-sec;
    }
    @include sp{
      &__80{
        font-size:5.0rem;
        font-weight:700;
        line-height:1;
        letter-spacing:0.1em;
        font-family:$font-sec;
      }
      &__50{
        font-size:3.0rem;
        font-weight:700;
        line-height:1;
        letter-spacing:0.1em;
        font-family:$font-sec;
      }
      &__26{
        font-size:2.0rem;
        font-weight:700;
        line-height:1;
        letter-spacing:0.1em;
        font-family:$font-sec;
      }
      &__20{
        font-size:1.3rem;
        font-weight:700;
        line-height:1;
        letter-spacing:0.1em;
        font-family:$font-sec;
      }
    }
  }
}